/* Structural elements */

body {
    background-color: rgb(54, 54, 54);
    color: white;
}

#outer-game-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#game-board {
    /* pushes footer to the bottom of the page
     in combination with flex css on body */
    flex: 1 0 auto; 
}